{% use "bootstrap_5_layout.html.twig" %}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"} } -%}
    {%- endif -%}
    <{{ element|default('div') }} class="form-group">
        
        {{- form_label(form) -}}
        
        {{- form_widget(form) -}}
        {{- form_help(form) -}}
        {{- form_errors(form) -}}
    </{{ element|default('div') }}>
{%- endblock form_row %}

{% block form_label -%}
    {% if label is not same as(false) -%}
        {%- if compound is defined and compound -%}
            {%- set element = 'legend' -%}
            {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-label')|trim}) -%}
        {%- else -%}
            {%- set label_attr = label_attr|merge({for: id, class: (label_attr.class|default('') ~ ' form-label')|trim}) -%}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        {% if translation_domain is not same as (false) %}
            {% set label = label|trans({}, translation_domain) %}
        {% endif %}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>{{ label|raw|parse_icons }}</{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label %}

{% block button_widget %}
        {% if label is empty and label is not same as (false) %}
            {% set label = name|humanize %}
        {% endif %}
        {% if type is defined and type == 'submit' %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-'~button_class|default('primary'))|trim }) %}
        {% else %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-'~button_class|default('secondary'))|trim }) %}
        {% endif %}
        {% if translation_domain is not same as (false) %}
            {% set label = label|trans({}, translation_domain) %}
        {% endif %}
        {% if as_link is defined and as_link == true %}
            <a {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}{{ icon(attr.icon) }}{% endif -%}{{ label }}</a>
        {% else %}
            <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if attr.icon is defined and attr.icon != '' %}{{ icon(attr.icon) }}{% endif %}{{ label|parse_icons }}</button>
        {% endif %}
{% endblock button_widget %}

{% block submit_widget %}
    {% set type = type|default('submit') %}
    {{ block('button_widget') }}
{% endblock submit_widget %}

{% block reset_widget %}
    {% set type = type|default('reset') %}
    {{ block('button_widget') }}
{% endblock reset_widget %}

{% block form_actions_widget %}
    {% for button in form.children %}
        {{ form_widget(button) }}&nbsp; {# this needs to be here due to https://github.com/twbs/bootstrap/issues/3245 #}
    {% endfor  %}
{% endblock %}

{% block role_widget %}
    <table class="table table-striped table-sm table-hover">
        {#<thead>
            <tr>
                <th></th>
                <th>{{ 'role.full'|trans  }}</th>
            </tr>
        </thead>#}
        <tbody>
            {% for child in form %}
                {% set attr = child.vars.attr %}
                {% set value = child.vars.value %}
                {% set checked = child.vars.checked %}
                {% set full_name = child.vars.full_name %}
                {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-check-input')|trim}) -%}
                {% set id = name|camelize ~ loop.index %}
            <tr>
                <td><label for="{{ id }}">{{ child.vars.label|trans }}<label></td>
                <td>
                    <div class="form-check">
                        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
                        <label class="form-check-label" for="{{ id }}"></label>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block static_widget %}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' mb-3-plaintext')|trim}) -%}
    <input type="text" readonly {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock %}

{%- block number_widget -%}
    {%- set type = 'number' -%}
    {%- set attr = attr|merge({'formnovalidate' : 'formnovalidate'}) -%}
    
    {{- block('form_widget_simple') -}}
{%- endblock number_widget -%}

{% block content_editable_widget %}
{%- set attr = attr|merge({class: (attr.class|default('') ~ ' mb-3')|trim}) -%}
{%- set attr = attr|merge({role: (attr.role|default('') ~ ' textedit')|trim}) -%}
<div contenteditable="true" {{ block('widget_attributes') }}>{{ value }}</div>
{% endblock content_editable_widget %}

{% block security_button_widget %}
    {{ block('hidden_widget') }}
    <security-button class="btn btn-primary" token-name="{{ form.vars.full_name }}">{{ 'button.send'|trans|parse_icons }}</security-button>
{% endblock security_button_widget %}