{% block collection_widget %}
    {% if prototype is defined %}
        {#{% set prototype_vars = {} %}
        {% if style is defined %}
            {% set prototype_vars = prototype_vars|merge({'style': style}) %}
        {% endif %}
        {% set prototype_html = '<div class="col-xs-' ~ form.vars.sub_widget_col ~ '">' ~ form_widget(prototype, prototype_vars) ~ '</div>' %}
        {% if form.vars.allow_delete %}
            {% set prototype_html = prototype_html ~ '<div class="col-xs-' ~ form.vars.button_col ~ '"><a href="#" class="btn btn-danger btn-sm" data-removefield="collection" data-field="__id__">' ~ form.vars.delete_button_text|trans({}, translation_domain)|parse_icons|raw ~ '</a></div>' %}
        {% endif %}
        {% set prototype_html = '<div class="row">' ~ prototype_html ~ '</div>' %}

        {% set attr = attr|merge({'data-prototype': prototype_html }) %}
        {% set attr = attr|merge({'data-prototype-name': prototype_name }) %}#}
        {%- set data_prototype = '<li class="collection-widget">' -%}
        {%- for child in prototype -%}
            {%- set data_prototype = data_prototype ~ '' ~ form_widget(child) ~ '' -%}
        {%- endfor -%}

        {% if form.vars.allow_delete %}
            {% set data_prototype = data_prototype ~ '<a href="#" class="btn btn-danger btn-sm" data-removefield="collection" data-field="__id__">' ~ form.vars.delete_button_text|trans({}, translation_domain)|parse_icons|raw ~ '</a>' %}
        {% endif %}

        {%- set data_prototype = data_prototype ~ '</li>' -%}
        {%- set attr = attr|merge({ 'data-prototype': data_prototype}) -%}

        {% set attr = attr|merge({'data-prototype-name': prototype_name }) %}
        {% set attr = attr|merge({'data-collection': 'table' }) %}

        
    <div {{ block('widget_container_attributes') }}>
        <ul class="list-unstyled form-collection">
            {% for field in form %}
                <li class="collection-widget">
                    <div class="row">
                        <div class="col-xs-10">
                            {{ form_widget(field) }}
                            {{ form_errors(field) }}
                        </div>
                        {% if form.vars.allow_delete %}
                            <div class="col-xs-2">
                                <a href="#" class="{{ form.vars.delete_button_class }}" data-removefield="collection" data-field="{{ field.vars.id }}">{{ delete_button_text|parse_icons|raw }}</a>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% if form.vars.allow_add %}
            <button type="button" class="btn btn-primary btn-sm" data-addfield="collection" data-prototype-name="{{ prototype_name }}">{{ form.vars.add_button_text|trans({}, translation_domain)|parse_icons|raw }}</button>
        {% endif %}
    </div>
    {% endif %}
    
{% endblock collection_widget %}