{% block recaptcha_widget %}
    {%- set type = type|default('hidden') -%}
    {{ block('form_widget_simple') }}

    {% if form.vars.enabled -%}
        {% set validJsId = id | replace({'-':'_'})  %}
        <component is="script" type="text/javascript" {% if form.vars.script_nonce_csp is defined %}nonce="{{ form.vars.script_nonce_csp }}"{% endif %}>
            var recaptchaCallback_{{ validJsId }} = function() {
                console.log('recaptchaCallback_{{ validJsId }}');
                grecaptcha.execute('{{ form.vars.site_key }}', {action: '{{ form.vars.action_name }}'}).then(function(token) {
                    document.getElementById('{{ id }}').value = token;
                });
                setTimeout(recaptchaCallback_{{ validJsId }}, 100000);
            };
        </component>
        <component is="script" type="text/javascript" src="https://{{ form.vars.host }}/recaptcha/api.js?render={{ form.vars.site_key }}&hl={{ form.vars.locale }}&onload=recaptchaCallback_{{ validJsId }}" async defer{% if form.vars.script_nonce_csp is defined %} nonce="{{ form.vars.script_nonce_csp }}"{% endif %}></component>
    {%- endif %}
{% endblock %}