{% block table_collection_widget %}
    {% if prototype is defined %}
        {%- set data_prototype = '<tr class="collection_widget">' -%}
        
        {% if prototype.children is not empty %}
        {%- for child in prototype.children -%}
            {%- set data_prototype = data_prototype ~ '<td>' ~ form_widget(child) ~ '</td>' -%}
        {%- endfor -%}
        {% else %}
            {%- set data_prototype = data_prototype ~ '<td>' ~ form_widget(prototype) ~ '</td>' -%}
        {% endif %}

        {% if form.vars.allow_delete %}
            {% set data_prototype = data_prototype ~ '<td><a href="#" class="btn btn-danger btn-sm" data-removefield="collection" data-field="__id__">' ~ form.vars.delete_button_text|trans({}, translation_domain)|parse_icons|raw ~ '</a></td>' %}
        {% endif %}

        {%- set data_prototype = data_prototype ~ '</tr>' -%}
        {%- set attr = attr|merge({ 'data-prototype': data_prototype}) -%}

        {% set attr = attr|merge({'data-prototype-name': prototype_name }) %}
    {% endif %}
        
    <div {{ block('widget_container_attributes') }}>
        <table class="table table-sm table-bordered table-striped mb-2">
            {% if prototype is defined and prototype.children is not empty %}
            <thead>
                <tr>
                
                    {%- for child in prototype.children -%}
                    <th {% if child.vars.attr['data-width'] is defined %}width="{{- child.vars.attr['data-width'] -}}"{% endif %}>
                        {{- form_label(child) -}}
                    </th>
                    {%- endfor -%}
                    {% if form.vars.allow_delete %}
                    <th>
                        
                    </th>
                    {% endif %}
                </tr>
            </thead>
            {% endif %}

            <tbody class="form-collection">
                {%- for formChild in form.children -%}
                <tr class="collection_widget">
                    {% if formChild.children is not empty %}
                    {%- for child in formChild.children -%}
                    <td>
                        {{- form_widget(child) -}}
                        {{- form_errors(child) -}}
                    </td>
                    {%- endfor -%}
                    {% else %}
                    <td>
                        {{- form_widget(formChild) -}}
                        {{- form_errors(formChild) -}}
                    </td>
                    {% endif %}
                
                    {% if form.vars.allow_delete %}
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-removefield="collection" data-field="{{ formChild.vars.id }}">{{ form.vars.delete_button_text|trans({}, translation_domain)|parse_icons|raw }}</button>
                    </td>
                    {% endif %} 
                </tr>
                {%- endfor -%}
            </tbody>
        </table>
        {% if form.vars.allow_add %}
            <button type="button" class="btn btn-primary btn-sm" data-addfield="collection" data-prototype-name="{{ prototype_name }}">{{ form.vars.add_button_text|trans({}, translation_domain)|parse_icons|raw }}</button>
        {% endif %}
    </div>
    
{% endblock table_collection_widget %}