{% block uploadfile_widget %}
<div class="upload-file-type">
    {% if form.vars.type == "advanced" %}

        {% if multiple %}
        <div class="col">
            <div class="fileupload-control" multiple>
                <div class="fileupload-control-container row">
                    <div class="prototype col-md-4 col-lg-3 d-none mb-2">
                        <div class="card h-100">
                            <button type="button" class="btn btn-sm btn-light btn-remove">{{ '.icon-times'|parse_icons }}</button>
                            <div class="card-body preview-content">
                                
                            </div>
                        </div>
                    </div>
                    
                    {% for entity in value %}
                    {% if entity is not empty %}
                    <div class="col-md-4 col-lg-2 mb-2">
                        <div class="card h-100" data-id="{{ entity.id }}">
                            <button type="button" class="btn btn-sm btn-light btn-remove">{{ '.icon-times'|parse_icons }}</button>
                            <div class="card-body preview-content">
                                <figure>
                                    <figcaption>{{ entity.name }}</figcaption>
                                    {% if entity.type == 'image' %}
                                    <img src="{{ asset(entity.webPath) }}" alt="{{ entity.name }}" title="{{ entity.name }}" />
                                    {% elseif entity.type =='audio' %}
                                    <audio src="{{ asset(entity.webPath) }}" alt="{{ entity.name }}" title="{{ entity.name }}" ></audio>
                                    {% endif %}
                                </figure>
                            </div>
                        </div>  
                    </div> 
                    {% endif %}    
                    {% endfor %}
                    
                </div>
                <div class="">
                    <button class="btn btn-secondary btn-load" type="button">{{ 'button.load_files'|trans }}</button>
                </div>
                {% if value is not empty %}
                    {% for entity in value %}
                    <input type="hidden" class="input" data-multiple="true" name="{{ form.vars.full_name }}" value="{{ entity.id }}" />
                    
                    {% endfor %}
                {% else %}
                    <input type="hidden" class="input" data-multiple="true" name="{{ form.vars.full_name }}" />
                {% endif %}
                
            </div>
            
        </div>
        {% else %}
        <div class="">
            <div class="card fileupload-control">
                <div class="card-body fileupload-control-container">
                {% if preview %}
                    <div class="preview">
                        {% if value is not empty %}
                            <figure>
                                <figcaption>{{ value.name }}</figcaption>
                                {% if value.type == 'image' %}
                                <img src="{{ asset(value.webPath) }}" alt="{{ value.name }}" title="{{ value.name }}" />
                                {% elseif value.type =='audio' %}
                                <audio src="{{ asset(value.webPath) }}" alt="{{ value.name }}" title="{{ value.name }}" ></audio>
                                {% endif %}
                            </figure>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <input type="hidden" class="input" name="{{ form.vars.full_name }}" {% if value is not empty %}value="{{ value.id  }}"{% endif %} />

                <div class="card-footer d-flex flex-nowrap justify-content-between">
                    <button class="btn btn-secondary btn-load" type="button">{{ 'button.load_file'|trans }}</button>
                    <button class="btn btn-danger btn-remove-all" type="button">{{ 'button.delete'|trans }}</button>
                </div>
            </div>
        </div>
        {% endif %}
    {% elseif form.vars.type == "simple" %}
    {% set previewId = 'preview' ~ random() %}
    {% set inputId = 'file' ~ random() %}
    {#<div class="single fileupload-control" data-name="{{ form.vars.full_name }}" data-accept-files="{{ form.vars.acceptFiles }}" data-preview-target="#{{ previewId }}" data-progress-target="#files-progress">
        <div class="custom-file">
            <input type="file" name="files" class="custom-file-input" id="{{ inputId }}">
            <label class="custom-file-label" for="{{ inputId }}" disabled data-browse="{{ 'browse'|trans }}">{{ 'file.choose'|trans }}</label>
        </div>
        <input type="hidden" class="input" name="{{ form.vars.full_name }}" {% if value is not empty %}value="{{ value.id  }}"{% endif %} />
        <div class="files-progress progress mt-1">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div id="{{ previewId }}">
            {% if value is not empty %}
            <span class="d-inline-block position-relative upload-file-preview pr-5 uploaded">
                <div>{{ value.name }}.{{ value.ext }}<br><span class="text-muted">{{ value.sizeString }}</span></div>
            </span>
            {% endif %}
        </div>
    </div>#}
    <file-upload is-preview :multiple="false" label="{{ 'file.add_file'|trans }}" name="{{ form.vars.full_name }}"></file-upload>
    
    {% endif %}
</div>
{% endblock %}