{% extends app.request.xmlHttpRequest 
         ? '@TigrisBase/admin/ajax-layout.html.twig'
         : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'wording.edit.edit'|trans }}{% endblock %}

        {% block body %}
            <h5>{{ wording.label }}</h5>
            <div class="my-2">
                {{ wording.description }}
            </div>
            {{ form_widget(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}