
.content-wrapper {
    padding-top: $top-height;
    flex-grow: 1;
    transition: margin .3s ease-in-out;
    position: relative;
    width: 100%;
    margin-left: 0;

    @include media-breakpoint-up(lg) {
        width: calc(100% - #{$side-max-width});
        margin-left: $side-max-width;

        &.extended {
            margin-left: $side-mini-width;
        }
    }

    h1 {
        font-size: 1.8em;
        font-weight: 400;
        margin: 12px 15px;
    }

    h2 {
        font-size: 1.4em;
    }

    .content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }

        .breadcrumb {
            border: none;
            background: none;
            padding: 0.5em $container-padding-x;
            margin-bottom: 0;
        }
    }

    .content {
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .card {
        .card-footer {
            .pagination {
                margin: 1em 0;
            }
        }
    }
}