.main-header {
    position: relative;
    z-index: 1030;

    .logo {
        width: $side-mini-width;
        text-align: center;
        background-color: darken($primary, 5%);
        color: #fff;
        border-bottom: 0 solid transparent;
        min-height: $top-height;
        font-size: 20px;
        text-align: center;
        padding: 0;
        font-weight: 300;
        overflow: hidden;
        top: 0;
        display: none;
        flex-direction: column;
        justify-content: center;

        @include media-breakpoint-up(lg) {
            display: flex;
            width: $side-max-width;
        }
    }

    .navbar {
        background-color: var(--admin-header-bg);
        box-shadow: var(--admin-header-box-shadow);
        border: none;
        min-height: $top-height;
        padding: 0 1rem;
        padding-left: 0;
        padding-right: 0;
        transition: margin .3s ease-in-out;

        .container-fluid {
            padding-left: 0;
        }
    }

    #switch-menu {
        display: inline-block;
        margin-left: 15px;
    }

    .userimage {
        width: 28px;
        height: 28px;
        border-radius: 6px;
        object-fit: contain;
        margin-right: 4px;
    }
}