
.main-sidebar {
    width: 90%;
    background: var(--admin-sidebar-bg);
    box-shadow: var(--admin-sidebar-box-shadow);
    z-index: 100;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
    margin-top: $top-height;
    position: fixed;

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: var(--admin-sidebar-bg);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--admin-sidebar-active-bg);
        border-radius: $border-radius;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: $primary;
    }

    @include media-breakpoint-up(lg) {
        width: $side-max-width;
    }

    .sidebar {
        overflow-x: hidden;
        overflow-y: auto;
        height: calc(100vh - $top-height);
        transition: transform .3s ease-in-out;

        h3 {
            color: var(--admin-sidebar-color);
            text-align: center;
            font-size: 1.2rem;
            padding: 5px 8px;
            margin-top: 2px;
            font-weight: 300;
            opacity: 0.9;
        }

        .nav {
            >.nav-item {
                .nav-link {
                    border: none;
                    border-radius: 0px;
                    border-left: 3px solid transparent;
                    border-right: none;
                    padding-left: 0px;
                    padding-right: 0px;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 100%;
                    transition: all .3s;
                    position: relative;

                    &:hover,
                    &:active,
                    &:focus {
                        background: var(--admin-sidebar-active-bg);
                        color: var(--bs-body-color);
                        border-left-color: $primary;
                    }
                }

                &.active {
                    >.nav-link {
                        border-left-color: $primary;
                        background: var(--admin-sidebar-active-bg);
                    }
                }

                .sub-nav {
                    >.nav-item {

                        .nav-link {
                            background: var(--admin-sidebar-sub-bg);

                            &:hover,
                            &:active,
                            &:focus {
                                background: var(--admin-sidebar-sub-active-bg);
                            }
                        }
                    }
                }

                [class^="fa"] {
                    font-size: 1em;
                    display: inline-block;
                    width: 2.4rem;
                    text-align: center;
                    color: var(--admin-sidebar-color);
                }
            }

        }
    }

    &:not(.mini) {
        transform: translateX(0);
        @include media-breakpoint-up(md) {
            .nav>.nav-item .nav-link {
                color: var(--admin-sidebar-color);
            }

            .nav>.nav-item .sub-nav>.nav-item>.nav-link {
                color: var(--admin-sidebar-color);
            }

            .nav>.nav-item .sub-nav>.nav-item.active {
                >.nav-link {
                    color: var(--admin-sidebar-color);
                }
            }
        }
    }

    &.mini {
        ::-webkit-scrollbar-track {
            background: transparent;
        }

        width: $side-max-width;
        transform: translateX(- #{$side-max-width});

        @include media-breakpoint-up(lg) {
            width: $side-mini-width;
            transform: none;
        }

        .sidebar {
            width: calc($side-mini-width + 4px);

            h3 {
                display: none;
            }

            h3+ul {

                &::before {
                    content: '';
                    width: calc($side-mini-width - 4px);
                    margin-left: 2px;
                    height: 2px;
                    background: var(--bs-tertiary-bg);
                }
            }

            .nav-item {
                width: $side-mini-width;
                min-height: 40px;
            }

            .nav-link {
                width: $side-mini-width;
                color: transparent;


                &:hover {
                    width: $side-max-width;
                    position: absolute;

                    &+.sub-nav {
                        margin-top: 40px;
                    }
                }

            }

        }
    }
}