$top-height : 3rem !default;
$side-mini-width: 44px !default;
$side-max-width: 210px !default;

@import './../common.scss';

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('./../../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
}

:root,
[data-bs-theme=light] {
    --admin-body-bg: #f4f6f7;
    --admin-sidebar-bg: #F3F6F9;
    --admin-sidebar-active-bg: #{darken(#F3F6F9, 5%)};
    --admin-sidebar-sub-bg: #{darken(#F3F6F9, 7%)};
    --admin-sidebar-sub-active-bg: #{darken(#F3F6F9, 10%)};
    --admin-sidebar-color: #151515;
    --admin-sidebar-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.308);

    --admin-header-bg: #F3F6F9;
    --admin-header-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.171);

    --bs-body-font-family: 'Barlow Semi Condensed', sans-serif;
}

[data-bs-theme=dark] {
    --admin-body-bg: #1d1d1d;
    --admin-sidebar-bg: #282b2e;
    --admin-sidebar-active-bg: #{lighten(#282b2e, 5%)};
    --admin-sidebar-sub-bg: #{lighten(#282b2e, 7%)};
    --admin-sidebar-sub-active-bg: #{lighten(#282b2e, 10%)};
    --admin-sidebar-color: #ccc;
    --admin-sidebar-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.171);

    --admin-header-bg: #282b2e;
    --admin-header-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.171);
}