{% extends '@TigrisBase/admin/layout.html.twig' %}

{% block title %}{{ 'menu.ui_command'|trans|parse_icons }}{% endblock %}
{% block main %}
<tigris-data-list route="tigris_base_admin_uicommand_data" :init-filters="{search:''}" v-slot="{entities, filters, loading, loadData}">

    <div class="my-2">
        <search-filter v-model="filters.search"></search-filter>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" v-for="command in entities" :key="command.name">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">${ command.name }</h5>
                    <p class="card-text">${ command.description }</p>
                </div>
                <div class="card-footer hstack">
                    <a :href="'{{ path('tigris_base_admin_uicommand_command') }}?c=' + command.name" class="ms-auto btn btn-sm btn-light">
                        {{ '.icon-play'|parse_icons }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</tigris-data-list>
{% endblock %}