<div class="btn-group btn-group-sm">
    <button-action route="tigris_base_admin_user_show" :route-params="{id:entity.id}" type="secondary" :modal="true" title="{{ 'button.infos'|trans }}">{{ '.icon-eye'|parse_icons }}</button-action>
    <button-action v-on:formsaved="loadData()" route="tigris_base_admin_user_edit" :route-params="{id:entity.id}" type="secondary" :modal="true" title="{{ 'button.edit'|trans }}">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
    <button-action v-on:formsaved="loadData()" v-if="entity.roles.indexOf('ROLE_SUPER_ADMIN') == -1 && !entity.enabled" route="tigris_base_admin_user_remove" :route-params="{id:entity.id}" type="danger" :modal="true" title="{{ 'button.delete'|trans }}">{{ '.icon-trash'|parse_icons }}</button-action>
</div>