{% extends '@TigrisBase/admin/layout.html.twig' %}
{% import '@TigrisBase/decorators/_dashboard_item.html.twig' as dashboard %}
{% block title %}{{ 'user.list'|trans }}{% endblock %}
{% block main %}
<div class="d-lg-flex d-none">
    {{ dashboard.card(userCounterItem) }}
    {{ dashboard.card(disabledUserCounterItem) }}
</div>
{% embed '@TigrisBase/decorators/_datalist.html.twig' with {'dataRoute': 'tigris_base_admin_user_data', 'updateRoute' : 'tigris_base_admin_user_changepart', 'initFilters': {'search':'', 'type':'enabled'}} %}
    {% block header %}
    <div>
        <button-action v-on:formsaved="loadData()" route="tigris_base_admin_user_new" :route-params="{}" type="success" :modal="true">
            <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> <span class="d-none d-lg-inline">{{ 'user.add.add'|trans }}</span>
        </button-action>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('tigris_base_admin_group_index') }}" class="btn btn-secondary ms-2">
                <span class="btn-label">{{ '.icon-address-book'|parse_icons }}</span> <span class="d-none d-lg-inline">{{ 'user.group.groups'|trans }}</span>
            </a>
        {% endif %}
    </div>
    
    <button-action route="tigris_base_admin_dataexporter_new" :route-params="{...filters, ...{exportType:'user'} }" type="outline-secondary" :modal="true">
        <span class="btn-label">{{ '.icon-download'|parse_icons }}</span> <span class="d-none d-lg-inline">{{ 'user.export'|trans }}</span>
    </button-action>
    
    {% endblock %}
    {% block filters %}
    <div class="form-group">
        <label class="form-label"><small>{{ 'user.status'|trans }}</small></label>
        
        <select class="form-control" v-model="filters.type">
            <option value="all">{{ 'user.all'|trans }}</option>
            <option value="enabled">{{ 'user.filter.enabled'|trans }}</option>
            <option value="disabled">{{ 'user.filter.disabled'|trans }}</option>
        </select>
    </div>
    {#<div class="form-group ms-2">
        <label class="form-label"><small>{{ 'user.search'|trans }}</small></label>
        <div class="input-group ">
            <span class="input-group-text">{{ '.icon-search'|parse_icons }}</span>
            <input type="text" class="form-control" v-model="filters.search"/>
        </div>
    </div>#}
    <search-filter v-model="filters.search"></search-filter>
    {% endblock %}
    {% block data %}
        <table class="table table-striped" :class="{loading: loading}">
            <thead>
                <tr>
                    <th></th>
                    <th><sort-item label="{{ 'user.username'|trans }}" value="username" v-on:change="sort"></sort-item></th>
                    <th class="d-none d-lg-table-cell"><sort-item label="{{ 'user.email'|trans }}" value="email" v-on:change="sort"></sort-item></th>
                    <th class="d-none d-lg-table-cell"><sort-item label="{{ 'user.date.created'|trans }}" value="createdAt" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'user.status'|trans }}" value="enabled" v-on:change="sort"></sort-item></th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entity in entities" :key="entity.id" :class="{'table-primary':(entity.roles.indexOf('ROLE_SUPER_ADMIN')>0)}">
                    <td style="width: 38px">
                        <div class="form-check custom-control-inline m-0 form-check">
                            <input type="checkbox" class="form-check-input form-check-input select-item" :id="'select-user-' + entity.id" v-model="selectedItems" @change="(e) => { selectItem(entity.id, e.target.checked) }" :value="entity.id">
                            <label class="form-check-label form-check-label" :for="'select-user-' + entity.id"> </label>
                        </div>
                    </td>
                    <td>
                        <strong>${entity.username}</strong>
                        <div class="d-lg-none d-block">${entity.email}</div>
                    </td>
                    <td class="d-none d-lg-table-cell">${entity.email}</td>
                    <td class="d-none d-lg-table-cell">${ $filters.formatDate(entity.createdAt)}</td>
                    {# status #}

                    <td class="text-light bg-primary" v-if="entity.roles.indexOf('ROLE_SUPER_ADMIN')>-1 || entity.roles.indexOf('ROLE_ADMIN')>-1">
                        {{ 'role.admin'|trans }}
                    </td>

                    <td class="text-light" v-else :class="{'bg-success': entity.enabled, 'bg-warning': !entity.enabled}">
                        <div class="form-check form-switch">
                            <input 
                                type="checkbox" 
                                v-model="entity.enabled" 
                                @change="updateEntity()" 
                                class="form-check-input" 
                                :id="'enabled-' + entity.id"
                            >
                            <label class="form-check-label" :for="'enabled-' + entity.id">
                                <small v-if="!entity.enabled">{{ 'user.disabled'|trans }}</small>
                                <small v-if="entity.enabled">{{ 'user.enabled'|trans }}</small>
                            </label>
                        </div>
                    </td>
                    {# /status #}

                    <td>
                        {% include '@TigrisBase/admin/user/_user_options.html.twig' %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endblock %}

    {% block footer %}
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-start">
            <fieldset class="form-group">
                <label class="form-label"><small>{{ 'user.selected'|trans }}</small></label>
                <div>
                    {#<button-action class="btn-sm mx-1" @formsaved="loadData()" route="tigris_shop_admin_product_changecategory" :route-params="{ids:selectedItems}" type="primary" :modal="true" :class="{disabled: selectedItems.length === 0}">{{ '.icon-tag'|parse_icons }}{{ 'shop.product.category_edit.title'|trans }}</button-action>
                    #}
                    <button-action class="btn-sm mx-1" @formsaved="loadData()" route="tigris_base_admin_user_removegroup" :route-params="{ids:selectedItems}" type="danger" :modal="true" :class="{disabled: selectedItems.length === 0}">{{ '.icon-trash'|parse_icons }} {{ 'button.delete'|trans }}</button-action>
                </div>
            </fieldset>
            
        </div>

        <div>
            {% if registrationMailChecking %}
                <button-action v-on:formsaved="loadData()" route="tigris_base_admin_user_removeunverified" :route-params="{}" type="danger" :modal="true" class="btn-sm">
                    <span class="btn-label">{{ '.icon-trash'|parse_icons }}</span> {{ 'user.remove_unverified.title'|trans }}
                </button-action>
            {% endif %}
        </div>
    </div>
    {% endblock %}
{% endembed %}
{% endblock %}