{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/admin/ajax-layout.html.twig'
    : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'user.delete.delete'|trans }}{% endblock %}
        {% block body %}
        <p>{{ 'user.delete.message'|trans({'%entity%': entity.username})|raw }}</p>
        {% endblock %}
    {% endembed %}
{% endblock %}