{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'type': 'danger'} %}
        {% block title %}{{ 'user.remove_unverified.title'|trans }}{% endblock %}
        {% block body %}
        <div class="alert alert-danger">
            {{ 'user.remove_unverified.message'|trans }}
            {{ form_widget(form)}}
        </div>
        {% endblock %}
    {% endembed %}
{% endblock %}