{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'type': 'danger'} %}
        {% block title %}{{ 'user.delete_group.title'|trans }}{% endblock %}
        {% block body %}
        <div class="alert alert-danger">
            {{ 'user.delete_group.message'|trans }}
            <ul>
                {% for user in users %}
                <li><strong>{{ user.email }}</strong></li>
                {% endfor %}
            </ul>
        </div>
        {% endblock %}
    {% endembed %}
{% endblock %}