{% extends app.request.xmlHttpRequest 
        ? '@TigrisBase/admin/ajax-layout.html.twig'
        : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
        {% block header %}
        {{ entity.username }}
        {% endblock %}

        {% block body %}
        <fieldset>
            <legend>{{ '.icon-id-card'|parse_icons }} {{ 'user.main_infos'|trans }}</legend>
            <dl class="row">
                <dt class="col-sm-5">{{ 'user.username'|trans }}</dt>
                <dd class="col-sm-7">{{ entity.username }}</dd>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER_ADMIN') %}
                <dt class="col-sm-5">{{ 'user.email'|trans }}</dt>
                <dd class="col-sm-7">{{ entity.email }}</dd>
                {% endif %}

                <dt class="col-sm-5">{{ 'user.status'|trans }}</dt>
                <dd class="col-sm-7">
                    {% if entity.hasRole('ROLE_SUPER_ADMIN') %}
                        <span class="badge bg-primary">{{ 'role.admin'|trans }}</span>
                    {% elseif entity.enabled %}
                        <span class="badge bg-success">{{ 'user.enabled'|trans }}</span>
                    {% else %}
                        <span class="badge bg-warning">{{ 'user.disabled'|trans }}</span>
                    {% endif %}
                </dd>

                <dt class="col-sm-5">{{ 'user.date.created'|trans }}</dt>
                <dd class="col-sm-7">{{ entity.createdAt|format_datetime('short', 'short') }}</dd>

                <dt class="col-sm-5">{{ 'user.date.last_login'|trans }}</dt>
                <dd class="col-sm-7">{% if entity.onlineAt is not empty %}{{ entity.onlineAt|format_datetime('short', 'short') }}
                {% else %}{{ 'user.no_last_login'|trans }}
                {% endif %}</dd>

                {#<dt class="col-sm-5">{{ 'resetting.request.last'|trans }}</dt>
                <dd class="col-sm-7">{% if entity.passwordRequestedAt is not empty %}{{ entity.passwordRequestedAt|format_datetime('short', 'short') }}
                {% else %}{{ 'resetting.request.no'|trans }}
                {% endif %}</dd>#}
            </dl>
        </fieldset>

        {% for key, data in moreData %}
        <fieldset>
            <legend>{{ key|trans|parse_icons }}</legend>
            <dl class="row">
            {% for info, value in data %}
                <dt class="col-sm-5">{{ info|trans }}</dt>
                <dd class="col-sm-7">{{ value|raw }}</dd>
            {% endfor %}
            </dl>
        </fieldset>
        {% endfor %}
        {% endblock %}
        
        {% block footer %}
        <a class="btn btn-secondary" href="{{ path('tigris_base_admin_user_index') }}">{{ 'button.return'|trans }}</a>
        {% endblock %}
    {% endembed %}
{% endblock %}