{% extends '@TigrisBase/layout.html.twig' %}
{% set template = 'landing' %}

{% block main %}
<div id="login">
    <div class="login-frame">
        <form method="post" id="login-form">
            {% embed '@TigrisBase/decorators/_card.html.twig' %}
            {% block header %}
            <span class="lead">{{ 'security.login.title'|trans }}</span>
            {% endblock %}
            {% block body %}
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="form-group">
                    <label for="inputEmail">{{ 'security.login.email'|trans }}</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>

                <div class="form-group">
                    <label for="inputPassword">{{ 'security.login.password'|trans }}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <div class="form-check">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked class="form-check-input" />
                    <label class="form-check-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
            {% endblock %}

            {% block footer %}
            <button class="btn btn-login btn-primary" type="submit" id="login-form-submit">
                {{ 'security.login.login'|trans }}
            </button>
            <a href="{{ path('tigris_base_resetpassword_request') }}" class="btn btn-secondary">{{ 'reset_password.button'|trans }}</a>
            {% endblock %}
            {% endembed %}
        </form>
    </div>
</div>
{% endblock %}