{% extends '@TigrisBase/layout.html.twig' %}
{% block body_id %}register{% endblock %}
{% block main %}
<div id="registration">
    <div class="registration-frame">
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'form' : registrationForm} %}
        {% block title %}
            {{ 'registration.title'|trans }}
        {% endblock %}

        {% block body %}
        {{ form_errors(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

        {% if registrationForm.recaptcha is defined %}
            {{ form_row(registrationForm.recaptcha) }}
        {% endif %}
        {% endblock %}
    {% endembed %}
    </div>
</div>
{% endblock %}