{% extends 'base.html.twig' %}

{% block main %}
<div class="jumbotron mt-4">
    <h1>{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}Hello {{ app.user.username }}, {% endif %}Welcome to Tigris</h1>
    <hr class="my-4">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <a href="{{ path('tigris_base_security_logout') }}" class="btn btn-primary">Logout</a>
    {% else %}
    <a href="{{ path('tigris_base_security_login') }}" class="btn btn-primary">Login</a>
    <a href="{{ path('tigris_base_registration_register') }}" class="btn btn-primary">Registration</a>
    {% endif %}
</div>
<h2>Informations</h2>
<p>Tigris is a Symfony4 bundle package for create web application fastly</p>
<h2>Twig decorators</h2>
<h3>Card</h3>
<p>Generate Bootstrap 4 card</p>
<pre><code>{% verbatim %}{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block header %}
    {% endblock %}
    {% block body %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
{% endembed %}{% endverbatim %}</code></pre>
<h3>Form</h3>
<p>Generate Bootstrap card with symfony form (with twig variable named "form")</p>
<pre><code>{% verbatim %}{% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
    {% block title %}
    {% endblock %}
{% endembed %}{% endverbatim %}</code></pre>
<p class="text-info">You can override body with block</p>
<h2>Twig macros</h2>
<pre><code>{% verbatim %}{% import '@TigrisBase/utils/macros.html.twig' as tigris %}{% endverbatim %}</code></pre>
<h3>Recursive Array</h3>
{% import '@TigrisBase/utils/macros.html.twig' as tigris %}
<pre><code>{% verbatim %}{{ tigris.recursiveArray(array) }}{% endverbatim %}</code></pre>
{{ tigris.recursiveArray({'Primary 1':{'Secondary 1':'Item', 'Secondary 2':['Tertiary 1']}, 'Primary 2':'Item'}) }}
<hr class="my-4">
<small>Copyright {{ 'now'|date('Y') }} Oviglo</small>
{% endblock %}