{% extends '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'data.exporter.title'|trans }}{% endblock %}
{% block main %}
    {% embed '@TigrisBase/decorators/_datalist.html.twig' with {dataRoute: 'tigris_base_admin_dataexporter_data'} %}
        {% block data %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><sort-item label="{{ 'data.exporter.type.label'|trans }}" value="type" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'data.exporter.date.created'|trans }}" value="createdAt" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'data.exporter.status.label'|trans }}" value="status" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'data.exporter.status.message'|trans }}" value="errorMessage" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'data.exporter.file'|trans }}" value="filePath" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'data.exporter.sending_email'|trans }}" value="sendingEmail" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'data.exporter.format'|trans }}" value="format" v-on:change="sort"></sort-item></th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entity in entities" :key="entity.id">
                    <td v-html="$filters.parseIcons(entity.typeLabel)"></td>
                    <td>${ $filters.formatDate(entity.createdAt) }</td>
                    <td :class="{'bg-success': (entity.status == 'finish'), 'bg-warning': (entity.status == 'pending'), 'bg-danger': (entity.status == 'error')}">
                        ${ entity.statusLabel }
                    </td>
                    <td>
                        ${ entity.errorMessage}
                    </td>
                    <td>
                        <button-action route="tigris_base_admin_dataexporter_download" :route-params="{id:entity.id}" type="link" :modal="false">${ entity.filePath }</button-action>
                    </td>
                    <td>
                        ${ entity.sendToMail }
                    </td>
                    <td>
                        ${ entity.formatLabel }
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button-action v-on:formsaved="loadData()" data-no-swup route="tigris_base_admin_dataexporter_remove" :route-params="{id:entity.id}" type="danger" :modal="true">{{ '.icon-trash'|parse_icons }}</button-action>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endblock %}
    {% endembed %}
{% endblock %}