{% extends '@TigrisBase/admin/layout.html.twig' %}

{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'data.exporter.add.title'|trans }}{% endblock %}
    {% endembed %}
{% endblock %}