{% extends '@TigrisBase/layout.html.twig' %}
{% block body_id %}password_request{% endblock %}
{% block main %}

{% embed '@TigrisBase/decorators/_card.html.twig' %}
{% block body %}
<p>{{ 'reset_password.check_email'|trans({'%url%': path('tigris_base_resetpassword_request'), '%lifetime%':tokenLifetime|date('g') })|raw }}</p>
{% endblock %}
{% endembed %}
{% endblock %}