{% extends '@TigrisBase/email/layout.html.twig' %}

{% block content %}
    <p>{{ 'reset_password.email.content'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
    <a class="btn" href="{{ url('tigris_base_resetpassword_reset', {token: resetToken.token}) }}">{{ 'reset_password.email.url'|trans }}</a>
{% endblock %}