{% extends '@TigrisBase/layout.html.twig' %}
{% block body_id %}password_request{% endblock %}
{% block main %}
    <h1>{{ 'reset_password.request.title'|trans }}</h1>
    <div class="login-frame">
    {{ form_start(requestForm) }}
    {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
        {% block header %}
            <span class="lead">{{ 'resetting.request.title'|trans }}</span>
        {% endblock %}
        {% block body %}
        {{ form_row(requestForm.email) }}
        <p>
            {{ 'reset_password.request.message'|trans }}
        </p>
        {% endblock %}
        {% block footer %}
            <button type="submit" class="btn btn-primary" id="reset-request-form-submit">{{ 'resetting.request.submit'|trans }}</button>
            <a href="{{ path('tigris_base_security_login') }}" class="btn btn-secondary">{{ 'button.cancel'|trans }}</a>
        {% endblock %}
    {% endembed %}
    {{ form_end(requestForm) }}
    </div>
{% endblock %}