{% extends '@TigrisBase/layout.html.twig' %}
{% block body_id %}password_reset{% endblock %}
{% block main %}
<div class="login-frame">
    {{ form_start(resetForm) }}
    {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block header %}
        <span class="lead">{{ 'resetting.reset.title'|trans }}</span>
    {% endblock %}
    {% block body %}
    {{ form_row(resetForm.plainPassword) }}
    {% endblock %}
    {% block footer %}
        <button type="submit" class="btn btn-primary">{{ 'resetting.reset.submit'|trans }}</button>
    {% endblock %}
    {% endembed %}
    {{ form_end(resetForm) }}
</div>
{% endblock %}