{% if wo_breadcrumbs()|length %}
    <nav aria-label="breadcrumb">
        {% if 'breadcrumb' not in listClass %}
            {% set listClass = listClass ~ ' breadcrumb' %}
        {% endif %}
        <ol id="{{ listId }}" class="{{ listClass }}" itemscope itemtype="https://schema.org/BreadcrumbList">
            {% for b in breadcrumbs %}
                {% if 'breadcrumb-item' not in itemClass %}
                    {% set itemClass = itemClass ~ ' breadcrumb-item' %}
                {% endif %}
                {% if b.url %}
                <li class="{% if itemClass is defined and itemClass|length %}{{ itemClass }}{% endif %}{% if loop.last %} active{% endif %}" itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem" {% if loop.last %} aria-current="page"{% endif %}>
                    <a href="{{ b.url }}" itemprop="item"{% if linkRel is defined and linkRel|length %} rel="{{ linkRel }}"{% endif %}>
                        <span itemprop="name">{% if b.translate is defined and b.translate == true %}{{- b.text | trans(b.translationParameters, translation_domain, locale)|parse_icons -}}{% else %}{{- b.text -}}{% endif %}</span>
                    </a>
                    <meta itemprop="position" content="{{ loop.index }}" />
                </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endif %}