{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/admin/ajax-layout.html.twig'
    : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
        {% block header %}{{ 'data.importer.choose.title'|trans }}{% endblock %}

        {% block body %}
            {% for type in types %}
            <a href="{{ path('tigris_base_admin_dataimporter_import', {'type': type}) }}" class="btn btn-primary btn-icon me-2">{{ ('data.importer.type.' ~ type)|trans|parse_icons }}<a>
            {% endfor %}
        {% endblock %}

        {% block footer %}
            <a href="{{ path('tigris_base_admin_dataimporter_index') }}" class="btn btn-secondary" data-cancel="true">{{ 'button.cancel'|trans }}</a>
        {% endblock %}
    {% endembed %}
{% endblock %}