{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/admin/ajax-layout.html.twig'
    : '@TigrisBase/admin/layout.html.twig' %}

{% block title %}{{ ('data.importer.import.' ~ type)|trans|parse_icons }}{% endblock %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
    {% endembed %}
{% endblock %}