{% extends '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'data.importer.title'|trans }}{% endblock %}
{% block main %}
{% embed "@TigrisBase/decorators/_datalist.html.twig" with {'dataRoute': 'tigris_base_admin_dataimporter_data', 'hasCountSelect': false} %}
    {% block header %}
    <button-action v-on:formsaved="loadData()" route="tigris_base_admin_dataimporter_choose" :route-params="{}" type="success" :modal="true">
        <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'data.importer.add.title'|trans }}
    </button-action>
    {% endblock %}
    {% block data %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><sort-item label="{{ 'data.importer.type.label'|trans }}" value="type" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'data.importer.date.created'|trans }}" value="createdAt" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'data.importer.date.updated'|trans }}" value="updatedAt" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'data.importer.status.label'|trans }}" value="status" v-on:change="sort"></sort-item></th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entity in entities" :key="entity.id">
                    <td v-html="$filters.parseIcons(entity.typeLabel)"></td>
                    <td>${ $filters.formatDate(entity.createdAt) }</td>
                    <td>${ $filters.formatDate(entity.updatedAt) }</td>
                    <td class="text-light" :class="{'bg-success': (entity.status == 'finish'), 'bg-warning': (entity.status == 'pending'), 'bg-danger': (entity.status == 'error')}">
                        ${ entity.statusLabel }
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button-action route="tigris_base_admin_dataimporter_mapping" :route-params="{id:entity.id}" type="info" :modal="false">{{ '.icon-map-signs'|parse_icons }}</button-action>
                            <button-action v-on:formsaved="loadData()" route="tigris_base_admin_dataimporter_remove" :route-params="{id:entity.id}" type="danger" :modal="true">{{ '.icon-trash'|parse_icons }}</button-action>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endblock %}
{% endembed %}
{% endblock %}