{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/admin/ajax-layout.html.twig'
    : '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'type': 'danger'} %}
        {% block title %}{{ 'data.importer.delete.delete'|trans }}{% endblock %}
        {% block body %}
        <p>{{ 'data.importer.delete.message'|trans|raw }}</p>
        {% endblock %}
    {% endembed %}
{% endblock %}