{% if is_granted('ROLE_USER') %}
<div class="modal fade" tabindex="-1" id="tigrisFileSelect" role="dialog" aria-labelledby="tigrisFileSelect" aria-hidden="true">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div id="file-manager">
                <tigris-data-list 
                    route="tigris_base_file_list" 
                    :init-filters="{search:'', type:'all', folder:0}" 
                    init-order-by="name" 
                    :init-order-reverse="false" 
                    :count-per-page="100" 
                    v-slot="{entities, filters, countPerPage, order, loading, loadData, sort, begin, end, totalCount, pageCount, selectedItems, selectAll, selectItem, setCurrentItem, currentItem, changeFilter}"
                >
                {% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
                    {% block header %}
                        <div></div>
                        <div>
                            <div class="form-check custom-control-inline">
                                <input type="checkbox" class="toggle form-check-input select-all" id="select-all-file" v-on:change="selectAll()">
                                <label class="form-check-label" for="select-all-file"></label>
                            </div>
                            <button-action v-on:formsaved="loadData()" route="tigris_base_file_download_zip"  class="btn-sm me-2" type="info" :modal="false" :selected-items="selectedItems" title="{{ 'file.download_selection'|trans }}">{{ '.icon-download'|parse_icons }}</button-action>
                            <button-action v-on:formsaved="loadData()" route="tigris_base_file_delete"  class="btn-sm" type="danger" :modal="true" :selected-items="selectedItems" title="{{ 'file.delete.delete_selection'|trans }}">{{ 'button.delete_files'|trans|parse_icons }}</button-action>
                        </div>
                       
                    {% endblock %}

                    {% block body %}
                    {% include "@TigrisBase/file/_manager.html.twig" %}
                    {% endblock %}

                    {% block footer %}
                    <div class="d-flex justify-content-between align-item-center">
                        <div><em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em></div>
                        <div class="text-right">
                            <pagination></pagination>
                            <button class="btn btn-primary" id="tigrisFileSelectAdd">{{ 'button.add'|trans }}</button>
                        </div>
                    </div>
                    {% endblock %}
                {% endembed %}
                </tigris-data-list>
            </div>
        </div>
    </div>
</div>
{% endif %}