<div class="row g-0">
    <div class="col-5 col-md-4 col-lg-2">
        <div class="folder-list">
            <tigris-list-tree route="tigris_base_filefolder_list" v-slot="{selected, loadItems, currentPath}" root-name="{{ 'file_folder.files'|trans }}" @change-folder="(id) => { changeFilter('folder', id) }">
                <div>
                    <div class="btn-group btn-group-sm folder-tools">
                        <button-action @formsaved="loadItems(selected)" route="tigris_base_filefolder_new" :filters="{parent:selected}" :modal="true" title="{{ 'file_folder.add.add'|trans }}" type="light">{{ '.icon-plus'|parse_icons }}</button-action>
                        <button-action @formsaved="loadItems(selected)" route="tigris_base_filefolder_edit" :filters="{id:selected}" :class="{disabled: (selected == 0)}" :modal="true" title="{{ 'file_folder.edit.edit'|trans }}" type="light">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
                        {#<button-action @formsaved="loadItems(currentPath)" route="tigris_file_folder_remove" :filters="{id:selected}" :class="{disabled: (selected == 0)}" :modal="true" title="{{ 'file_folder.delete.delete'|trans }}" type="light">{{ '.icon-trash'|parse_icons }}</button-action>#}
                    </div>
                </div>
            </tigris-list-tree>
        </div>
    </div>

    <div class="col-7 col-md-8 col-lg-10">
        <div class="p-2 upload-zone">
            <file-upload ref="fileUpload" :auto-upload="true" :remove-files-on-complete="true" label="{{ 'file.add_file'|trans }}" @upload-complete="(ids) => loadData(ids)" :folder="filters.folder ?? null"></file-upload>
        </div>
        <div class="file-list">
            <div class="col-12 d-flex align-items-center justify-content-center" v-if="loading">
                <div class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div class="file-items" v-if="!loading">
                <div draggable="true" class="file-item" v-for="entity in entities" :class="{'current':(entity.id == currentItem)}" :key="entity.id" :data-name="entity.name" :data-id="entity.id" :data-type="entity.type" :data-size="entity.sizeString" :data-path="'/'+entity.webPath">
                    {% include "@TigrisBase/file/_preview.html.twig" %}
                </div>
            </div>
        </div>
    </div>
            
</div>