<div class="card">
    <div class="card-body">
        <img class="file-preview w-100" :src="'/'+entity.styleWebPath.thumbnail" :alt="entity.name" v-if="entity.type == 'image'">
        <span v-if="entity.type == 'file'">{{ '.icon-file'|parse_icons }}</span>
        <audio controls :src="'/'+entity.webPath" :alt="entity.name" v-if="entity.type == 'audio'"></audio>
        <video controls :src="'/'+entity.webPath" :alt="entity.name" v-if="entity.type == 'video'"></video>
    </div>
    <div class="card-footer file-label">
        <div class="form-check custom-control-inline">
            <input type="checkbox" class="toggle form-check-input select-file select-item" :id="'select-' + entity.id" :value="entity.id" v-model="selectedItems" @change="(e) => { selectItem(entity.id, e.target.checked) }">
            <label class="form-check-label" :for="'select-' + entity.id">${entity.name}</label>
            <button-action v-on:formsaved="loadData()" route="tigris_base_file_edit" :route-params="{id:entity.id}" type="secondary" :modal="true" title="{{ 'button.edit'|trans }}" class="btn-sm ms-2">{{ '.icon-pencil'|parse_icons }}</button-action>
        </div>
    </div>
</div>