{% extends app.request.xmlHttpRequest ? '@TigrisBase/admin/ajax-layout.html.twig': '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'file.delete.delete'|trans }}{% endblock %}
        {% block body %}
        <p>{{ 'file.delete.message'|trans|raw }}</p>
        <ul>
        {% for entity in entities %}
            <li>{{ entity.name }}</li>
        {% endfor %}
        </ul>
        {% endblock %}
    {% endembed %}
{% endblock %}