{% extends app.request.xmlHttpRequest ? '@TigrisBase/admin/ajax-layout.html.twig': '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'file.edit.edit'|trans }}{% endblock %}
        {% block body %}
            <div class="tigris-file-preview">
                <div class="file-infos">{{ entity }} - {{ entity.sizeString }}</div>
                {% if entity.type == constant('TYPE_IMAGE', entity) %}
                    <div class="image-preview">
                        <img src="{{ asset(entity.webPath) }}" alt="{{ entity.option('alt') }}">
                    </div>
                {% endif %}
            </div>
            {{ form_widget(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}