{% if get_config('TigrisBaseBundle.rgpd.enable', false) %}
<cookie-consent-banner
  btn-label-accept-and-continue="Accepter et continuer"
  btn-label-only-essential-and-continue="Continuer avec les cookies techniquement nécessaires uniquement"
  btn-label-persist-selection-and-continue="Sauvegarder la sélection et continuer"
  btn-label-select-all-and-continue="Selectionner tout et continuer"
  content-settings-description="Vous pouvez décider des cookies que vous souhaitez utiliser en sélectionnant les options respectives ci-dessous. Veuillez noter que votre sélection peut affecter le fonctionnement du service."
  {% if 'google_analytics' in get_config('TigrisBaseBundle.rgpd.services', [])  %}
  data-google-tag-manager-id="{{ app.request.server.get('GOOGLE_TAG_MANAGER_ID') }}"
  {% endif %}
>
  Nous utilisons des cookies et des technologies similaires pour fournir certaines fonctionnalités, améliorer l'expérience utilisateur et diffuser du contenu pertinent pour vos intérêts. En fonction de leur finalité, des cookies d'analyse et de marketing peuvent être utilisés en plus des cookies techniquement nécessaires. En cliquant sur "Accepter et continuer", vous déclarez votre consentement à l'utilisation des cookies susmentionnés. 
  <a
    href="javascript:document.dispatchEvent(new Event('cookie_consent_details_show'))"
    >
    Ici
    </a>
    vous pouvez effectuer des paramétrages détaillés ou révoquer votre consentement (en partie si nécessaire) avec effet pour l'avenir. 
    {% if get_config('TigrisBaseBundle.rgpd.privacyUrl', false) %}
    Pour plus d'informations, veuillez vous référer à notre
    <a href="{{ get_config('TigrisBaseBundle.rgpd.privacyUrl', false) }}">Politique de confidentialité</a>
    {% endif %}
</cookie-consent-banner>
{% endif %}