
{% macro cardCounter(config, data) %}
    <a href="{{ path(config.route.name, config.route.params) }}" class="dashboard-card dashboard-card-icon-counter {{ config.id }} link">
        {% if config.icon is not empty %}<div class="icon">{{ config.icon|parse_icons }}</div>{% endif %}
        <div class="content">
            <div class="title">{{ config.title|trans }}</div>
            <div class="value">
            {% if data.valueFormat == constant('Tigris\\BaseBundle\\Dashboard\\ValueFormat::CURRENCY') %}
            {{ data.value|format_currency('EUR') }}
            {% else %}
            {{ data.value }}
            {% endif %}
            
            </div>
            {% for extra in data.extra %}
            <div class="second-value text-{{ extra.type }}">{{ extra.text|trans(extra.textParams) }}</div>
            {% endfor %}
        </div>
    </a>
{% endmacro %}

{% macro cardList(config, data) %}
<div class="card dashboard-card {{ config.id }}">

    <div class="card-header">
        <h5 class="card-title">{{ config.title|trans|parse_icons }}</h5>
    </div>
    
    <ul class="list-group list-group-flush">
    {% for item in data.list.items %}
        <li class="list-group-item d-flex justify-content-between align-items-center">{{ item.label }}{% if item.value is not empty %}<span class="badge bg-primary badge-pill ms-3">{{ item.value }}</span>{% endif %}</li>
    {% endfor %}
    </ul>
</div>
{% endmacro %}

{% macro card(item) %}
    {% set card_config = item.configure %}
    {% set card_data = item.data %}

    {% if card_config.type == constant('Tigris\\BaseBundle\\Dashboard\\Type::ICON_COUNTER') %}
        {{ _self.cardCounter(card_config, card_data) }}
    {% elseif card_config.type == constant('Tigris\\BaseBundle\\Dashboard\\Type::LIST') %}
        {{ _self.cardList(card_config, card_data) }}
    {% endif %}
{% endmacro %}
