{% if initFilters is not defined %}
    {% set initFilters = {} %}
{% endif %}

{% if hasCountSelect is not defined %}
    {% set hasCountSelect = true %}
{% endif %}

{% if hasPagination is not defined %}
    {% set hasPagination = true %}
{% endif %}
<tigris-data-list route="{{ dataRoute }}" :init-filters="{{ initFilters|json_encode() }}" {% if updateRoute is defined %}update-route="{{ updateRoute}}"{% endif %} v-slot="{entities, filters, countPerPage, order, loading, loadData, sort, begin, end, totalCount, pageCount, updateEntity, selectedItems, selectItem, changeFilter}">
    <div class="card">
        {% if block('header') is defined %}
        <div class="card-header">
            <div class="data-list-header">
            {{ block('header') }}
            </div>
        </div>
        {% endif %}

        {% if block('top') is defined %}
        <div class="card-body">
            {{ block('top') }}
        </div>
        {% endif %}

        {% if block('filters') is defined or hasCountSelect %}
        <div class="card-body">
            <form action="" method="GET" class="d-lg-flex justify-content-between align-items-center">
                {% if block('filters') is defined %}
                <div class="data-list-filters">
                    {{ block('filters') }}
                </div>
                {% endif %}
        
                {% if hasCountSelect %}
                <div class="ms-auto d-none d-lg-block">
                    <div class="form-group">
                        <label><small>{{ 'results_per_page'|trans }}</small></label>
                        <item-count-select/>
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
        {% endif %}
        
        <div class="table-admin">
            {{ block('data') }}
        </div>

        {% if block('footer') is defined %}
        <div class="card-body">
            {{ block('footer') }}
        </div>
        {% endif %}

        {% if hasPagination %}
        <div class="card-footer">
            <div class="data-list-footer">
                <div>
                    <em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em>
                </div>
                <pagination></pagination>
            </div>
        </div>
        {% endif %}
    </div>
</tigris-data-list>