{% if formOptions is not defined %}
{% set formOptions = {} %}
{% endif %}
{{ form_start(form, formOptions) }}
{% if form.actions is defined %}
{% set buttons = form_widget(form.actions) %}
{% elseif form.securityButton is defined %}
{% set buttons = form_widget(form.securityButton) %}
{% else %}
{% set buttons = '<button type="submit" class="btn btn-primary">' ~ 'button.save'|trans ~ '</button>' %}
{% endif %}
{% set bodyText = "" %}
{% if type is defined and type in ['danger', 'primary', 'success', 'info', 'warning', 'dark'] %}
{% set bodyText = "text-" ~ type %}
{% endif %}
<div class="card {% if type is defined %}border-{{ type }}{% endif %}">
    {% if block('title') is defined %}
    <div class="card-header">
        <span class="lead">{{ block('title') }}</span>  
    </div>
    {% endif %}
    <div class="card-body {{ bodyText }}">
        {% block body %}
        {{ form(form) }}
        {% endblock %}
    </div>
    
    {% if block('footer') is not empty %}
    <div class="card-footer">
        {% block footer %}
        {{ buttons|raw }}
        {% endblock %}
    </div>
    {% endif %}
    
</div>
{{ form_end(form) }}