{% if collapse_id is not defined %}
{% set collapse_id = "navbar-collapse" %}
{% endif %}
{% if id is not defined %}
{% set id = "navbar" %}
{% endif %}
{% if class is not defined %}
{% set class = "navbar-light bg-light" %}
{% endif %}
{% if container is not defined %}
{% set container = false %}
{% endif %}
<nav class="navbar navbar-expand-lg {{ class }}" id="{{ id }}">
    <div class="container{% if not container %}-fluid{% endif %}">
    {% if block('brand') is defined %}
    {% if brandUrl is not empty %}<a class="navbar-brand" href="{{ brandUrl }}">{% endif %}
        {{ block('brand') }}
    {% if brandUrl is not empty %}</a>{% endif %}
    {% endif %}

    {% if block('menu') is defined %}

    <button class="navbar-toggler" controls="navbarResponsive" type="button" data-bs-toggle="collapse" data-bs-target="#{{ collapse_id }}" aria-controls="{{ id }}" aria-expanded="false" aria-label="Toggle navigation">
        {% block toggler_button %}
            <span class="navbar-toggler-icon"></span>
        {% endblock %}
    </button>

    <div class="collapse navbar-collapse" id="{{ collapse_id }}">
        {{ block('menu') }}
    </div>
    {% endif %}

    {% block body %}
    {% endblock %}
    </div>
</nav>