{% if pages > 1 %}
{% set begin = 1 %}
{% set end = pages %}
{% if page > 9 %}
  {% set begin = (page - 7) %}
{% endif %}

{% if pages - page > 6 %}
  {% set end = page + 7 %}
{% endif %}
{% if p is not defined %}
{% set p = 1 %}

{% set queryRouteParams = app.request.get('_route_params') is not empty ? app.request.get('_route_params') : [] %}

{% endif %}
<nav aria-label="Pagination">
  <ul class="pagination">
    <li>
      {% if route is not defined %}
      <a class="page-link" href="{{ path(app.request.get('_route'), queryRouteParams|merge(app.request.query.all|merge({'p': 1}))) }}">{{ '.icon-fast-backward'|parse_icons }}</a>
    {% else %}

      {% set routeParams = (routeParams is defined)? routeParams:{} %}
      {% set routeParams = routeParams|merge({'page': 1}) %}
      <a class="page-link" href="{{ path(route, routeParams) }}">{{ '.icon-fast-backward'|parse_icons }}</a>

    {% endif %}
    </li>
    {% for p in begin..end %}
    <li class="page-item{% if p == page %} active{% endif %} {% if (page - p > 5) or (p - page > 5) %}d-none d-lg-block{% elseif (page - p > 3) or (p - page > 3) %}d-none d-md-block{% endif %}">
    {% if route is not defined %}
      <a class="page-link" href="{{ path(app.request.get('_route'), queryRouteParams|merge(app.request.query.all|merge({'p': p}))) }}">{{ p }}</a>
    {% else %}

      {% set routeParams = (routeParams is defined)? routeParams:{} %}
      {% set routeParams = routeParams|merge({'page': p}) %}
      <a class="page-link" href="{{ path(route, routeParams) }}">{{ p }}</a>

    {% endif %}
      
    </li>
    {% endfor %}

    <li>
      {% if route is not defined %}
      <a class="page-link" href="{{ path(app.request.get('_route'), queryRouteParams|merge(app.request.query.all|merge({'p': p}))) }}">{{ '.icon-fast-forward'|parse_icons }}</a>
    {% else %}

      {% set routeParams = (routeParams is defined)? routeParams:{} %}
      {% set routeParams = routeParams|merge({'page': pages}) %}
      <a class="page-link" href="{{ path(route, routeParams) }}">{{ '.icon-fast-forward'|parse_icons }}</a>

    {% endif %}
    </li>
  </ul>
</nav>
{% endif %}