<tigris-dialog 
    v-for="(dialog, key) in dialogs" 
    :key="key" 
    :route="dialog.route" 
    :route-params="dialog.routeParams" 
    :component="dialog.insideComponent"
    :size="dialog.size"
    :component-props="dialog.componentProps"
    :dialog-id="key"
    @created="(c) => dialogCreated(key, c)" 
    @form-saved="(data) => onDialogFormSaved(key, data)"
    @valid="() => onDialogValid(key)"
    @cancel="() => onDialogCancel(key)"
></tigris-dialog>