@import "./back/main.scss";
@import "./back/main-header.scss";
@import "./back/main-sidebar.scss";
@import "./back/content-wrapper.scss";

.modal-dialog {
    transition: height 03s;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

.input-group {
    .data-picker-control {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

html.is-animating .transition-fade {
    opacity: 0;
}


.body-container {
    display: flex;
    min-height: 100vh;
    background: var(--admin-body-bg);
}

.nav-pills {
    .nav-link:hover:not(.active) {
        background: none;
        border-color: transparent;
    }
}

#content-loading {
    position: fixed;
    left: $side-max-width;
    right: 0;
    top: 0;
    display: none;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s;
    justify-content: center;
    align-items: center;
}

.is-animating {
    #content-loading {
        display: flex;
    }
}

.is-changing {
    #content-loading {
        opacity: 1;
    }
}

fieldset.form-group-border {
    @extend .card;
    padding: $card-spacer-x;
}

fieldset:not(.form-group),
#configTab .form-group {
    &>legend {
        border-bottom: $primary 1px solid;
        margin-bottom: 1.5rem;

        &.col-form-label {
            font-size: 1.5em;
            padding: 0;
            line-height: inherit;
            margin-bottom: 0.5rem;
        }

        i.fa {
            color: $light;
            background-color: $primary;
            width: 30px;
            height: 30px;
            text-align: center;
            padding-top: 6px;
            font-size: 80%;
            display: inline-block;
            margin-bottom: 2px;
        }
    }
}

.chart {

    canvas {
        max-height: 55vh;
    }
}

.dashboard-card {
    margin-bottom: 1em;
    margin-right: 1em;
    width: auto;
    text-decoration: none;
    box-shadow: #49494940 0 0 3px;
    padding: 0;
    border-radius: $border-radius;
}

.dashboard-card-icon-counter {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;

    background-color: var(--bs-body-bg);

    &.link {
        .icon {
            color: #ffffff88;
            transition: color 0.6s;
        }

        &:hover {
            text-decoration: none;

            .icon {
                color: white;
            }
        }
    }

    .icon {
        padding: 20px;
        font-size: 2.6em;
        color: white;
        background-color: $primary;
        border-radius: $border-radius 0 0 $border-radius;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .value {
            font-size: 1.7em;
            text-align: center;
        }
    }

    .title {
        text-transform: uppercase;
        font-size: 0.9em;
    }

    .second-value {
        text-align: center;
        font-size: 0.9em;
        font-weight: bold;
    }
}

.dashboard {
    .dashboard-card {
        margin: 1em;
    }
}

.table {
    td {
        vertical-align: middle;
    }

    tbody {
        transition: opacity 0.3s;
    }

    &.loading {
        tbody {
            opacity: 0.5;
        }
    }

    .form-check-label {
        white-space: nowrap;
    }
}

.table-responsive+.card-body {
    border-top: solid 1px $border-color;
}

.input-group {
    &.has-spinner {
        flex-wrap: nowrap;

        >.input-group {
            .btn {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

#statistics {
    .chart {
        .card {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top-width: 0;
        }
    }
}

.command-output {
    .card-body {
        height: 50vh;
        overflow-y: auto;
    }

}