:root {
    --cookie-consent-banner-colors-primary: var(--bs-success);
    --cookie-consent-banner-colors-primary-border: var(--bs-success);

    /* SPACINGS */
    --cookie-consent-banner-spacings-container-padding-top: 0.5rem;
    --cookie-consent-banner-spacings-container-padding-left: 0.5rem;
    --cookie-consent-banner-spacings-container-padding-bottom: 0.5rem;
    --cookie-consent-banner-spacings-container-padding-right: 0.5rem;
}