{#{% if card.type == constant('Tigris\\BaseBundle\\Dashboard\\Type::ICON_COUNTER') %}
    {% if card.route is not empty %}
        <a href="{{ path(card.route) }}" class="dashboard-card dashboard-card-icon-counter {{ card.id }} link">
        {% else %}
        <div class="dashboard-card dashboard-card-icon-counter {{ card.id }}">
        {% endif %}
        
            {% if card.icon is not empty %}<div class="icon">{{ card.icon|parse_icons }}</div>{% endif %}
            <div class="content">
                <div class="title">{{ card.title|trans }}</div>
                <div class="value">
                {% if card.valueFormat == constant('VALUE_FORMAT_CURRENCY', card) %}
                {{ card.value|format_currency('EUR') }}
                {% else %}
                {{ card.value }}
                {% endif %}
                
                </div>
                {% if card.secondValue is not empty %}
                <div class="second-value">{{ card.secondValue }}</div>
                {% endif %}
            </div>
        {% if card.route is not empty %}
        </a>
        {% else %}
        </div>
    {% endif %}
{% elseif card.type == constant('TYPE_LIST', card) %}
    <div class="card dashboard-card {{ card.id }}">

        <div class="card-header">
            <h5 class="card-title">{{ card.title|trans|parse_icons }}</h5>
        </div>
        
        <ul class="list-group list-group-flush">
        {% for item in card.list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">{{ item.label }}{% if item.value is not empty %}<span class="badge bg-primary badge-pill ms-3">{{ item.value }}</span>{% endif %}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}#}