{% import '@TigrisBase/decorators/_dashboard_item.html.twig' as dashboard %}
{% extends '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'dashboard.title'|trans|parse_icons }}{% endblock %}
{% block main %}
<div class="dashboard">
    {# header #}
    <div class="row">
        {% for item in cards.header %}
            {{ dashboard.card(item) }}
        {% endfor %}
    </div>
    {# /header #}
    <hr/>

    <div class="row">
    {% for item in cards.section_1 %}
        {{ dashboard.card(item) }}
    {% endfor %}
    </div>
</div>
{% endblock %}