{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/admin/ajax-layout.html.twig' : 'base.html.twig' 
%}

{% block title %}
{{ configs.getConfig('TigrisBaseBundle.title') }}
{% endblock %}

{% block description %}
{{ configs.getConfig('TigrisBaseBundle.description') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('back') }}
{% endblock %}

{% block header %}
<header class="main-header">
    {% embed '@TigrisBase/decorators/_navbar.html.twig' with {'class': 'fixed-top', 'id':'main-menu-bar', 'brandUrl': path('homepage')} %}
        {% block body %}
            <div class="logo">
                {% block logo %}
                {{ configs.getConfig('TigrisBaseBundle.title') }}
                {% endblock %}
            </div>
            {#<button id="switch-menu" class="btn btn-primary">{{ ".icon-bars"|parse_icons }}</button>#}
            <admin-menu-extended :is-extended="{{ app.session.get('menu-extended', 0) == 1 ? 'true': 'false' }}"></admin-menu-extended>
            {% if is_granted('ROLE_USER') %}

                <div class="ms-auto d-flex align-items-center">
                    {% if attribute(app.user, 'hasUserimage') is defined and app.user.hasUserimage %}
                        <img src="{{ asset(app.user.userimage.webPath('thumbnail')) }}" class="userimage" alt="{{ app.user.username }}">
                    {% endif %}
                    {{ knp_menu_render('user', {'style':'horizontal'}) }}
                </div>
                
                <tigris-notification></tigris-notification>
            {% endif %}
            <div class="ms-2">
                <switch-theme init-theme="{{ app.request.cookies.get('theme', 'light') }}"></switch-theme>
            </div>
        {% endblock %}
    {% endembed %}
</header>
{% endblock %}
{% block container_class %}{% endblock %}
{% block body %}
<aside class="main-sidebar">   
    <nav class="sidebar">  
        {% block sidebar %}
        {{ knp_menu_render('admin', {'style':'vertical-pills'}) }}
        {% endblock %}
    </nav>
</aside>

<div class="content-wrapper">
    <div id="content-loading">
        <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="swup" class="transition-fade">
        <section class="content-header">
            <h1>{{ block('title') }}</h1>
            <div>{% block breadcrumbs %}{{ wo_render_breadcrumbs() }}{% endblock %}</div>
        </section>
        <section class="content">
        {% include '@TigrisBase/decorators/_flash_messages.html.twig' %}
        {% block main %}
        {% endblock %}
        </section>
    </div>
    
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
<script>
var iconStyle = '{{ iconStyle|slice(0,1) }}';
</script>
{{ parent() }}
{{ encore_entry_script_tags('back') }}
{% endblock %}