<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    props: {
        modelValue: {
            type: String,
            required: true
        },

        label: {
            type: [String, Boolean],
            required: false,
            default: 'search'
        },

        placeholder: {
            type: String,
            required: false,
            default: ''
        }
    },
    emits: ['update:modelValue'],
    computed: {
        value: {
            get(): string {
                return this.modelValue;
            },
            set(value: string): void {
                this.$emit('update:modelValue', value);
            }
        }
    },
    data(){
        return {
            translatedLabel : '',
        }
    },
    created() {
        if (typeof this.label === 'string') {
            this.translatedLabel = this.label;
        }

        if (this.label === 'search') {
            this.translatedLabel = window.translator.trans('search');
        }
    },

    methods: {
        clearSearch() {
            this.value = '';
        }
    }
})
</script>

<template>
    <div class="form-group">
        <label class="form-label" v-if="label">{{ translatedLabel }}</label>
        <div class="input-group">
            <span class="input-group-text" v-html="$filters.parseIcons('.icon-search', true)" v-if="!value"></span>
            <span class="input-group-text clear-search" v-html="$filters.parseIcons('.icon-close', true)" v-else @click="clearSearch"></span>
            <input type="text" class="form-control" v-model="value" :placeholder="placeholder"/>
        </div>
    </div>
</template>

<style scoped>
.clear-search {
    cursor: pointer;
}
</style>