{% extends '@TigrisBase/admin/layout.html.twig' %}

{% block title %}{{ 'menu.sitemap'|trans|parse_icons }}{% endblock %}
{% block main %}
<div class="p-2 my-3 border border-info rounded">
    {{ 'seo.sitemap.what_is_this'|trans }}
    <div class="my-1"><a href="{{ path('tigris_base_sitemap_index') }}" class="btn btn-info" target="_blank">{{ 'seo.sitemap.view_sitemap'|trans }}</a></div>
</div>

<tigris-data-list route="tigris_base_admin_sitemap_data" :init-filters='{}' class="mb-3" v-slot="{loadData, entities, filters, totalCount, begin, end, sort}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block header %} 
        <h2>{{ 'seo.sitemap.urls'|trans }}</h2>
        <button-action v-on:formsaved="loadData()" route="tigris_base_admin_sitemap_new" :route-params="{}" type="success" :modal="true">
            <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'seo.sitemap.add.add'|trans }}
        </button-action>
    {% endblock %}

    {% block table %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'seo.sitemap.url'|trans }}</th>
                    <th>{{ 'seo.sitemap.last_mod'|trans }}</th>
                    <th>{{ 'seo.sitemap.priority'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="entity in entities" :key="entity.id">
                    <td><a :href="entity.loc" target="_blank">${ entity.loc }</a></td>
                    <td>${ $filters.formatDate(entity.lastMod, 'LL') }</td>
                    <td>${ entity.priority }</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button-action v-on:formsaved="loadData()" route="tigris_base_admin_sitemap_edit" :route-params="{id:entity.id}" type="secondary" :modal="true">{{ '.icon-pencil'|parse_icons }}</button-action>
                            <button-action v-on:formsaved="loadData()" route="tigris_base_admin_sitemap_delete" :route-params="{id:entity.id}" type="danger" :modal="true">{{ '.icon-trash'|parse_icons }}</button-action>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endblock %}
{% endembed %}
</tigris-data-list>

{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block header %} 
        <h2>{{ 'seo.sitemap.automatic_url'|trans }}</h2>
    {% endblock %}

    {% block table %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'seo.sitemap.url'|trans }}</th>
                    <th>{{ 'seo.sitemap.last_mod'|trans }}</th>
                    <th>{{ 'seo.sitemap.priority'|trans }}</th>
                </tr>
            </thead>

            <tbody>
                {% for url in urls %}
                <tr>
                    <td><a target="_blank" href="{{ url.loc }}">{{ url.loc }}</a></td>
                    <td>{{ url.lastmod|format_date }}</td>
                    <td>{{ url.priority }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
{% endembed %}

{% endblock %}