.table-admin {
    .data-list-filters {
        label {
            font-size: $small-font-size;
        }
    }

    .table {
        thead {
            th {
                border-bottom-width: 2px;
                border-top-width: 2px;

                .sortable-col {
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    white-space: nowrap;
                
                    span {
                        display: inline-block;
                        margin-right: 8px;
                    }

                    i {
                        color: var(--bs-primary);
                    }
                }
            }
            
        }
    }
}