{% extends app.request.xmlHttpRequest ? '@TigrisBase/admin/ajax-layout.html.twig': '@TigrisBase/admin/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'type': 'danger'} %}
        {% block title %}{{ (transPrefix ~ '.delete.delete')|trans }}{% endblock %}
        {% block body %}
        <p>{{ (transPrefix ~ '.delete.message')|trans({'%entity%': entity})|raw }}</p>
        {% endblock %}
    {% endembed %}
{% endblock %}