{% extends '@TigrisBase/admin/layout.html.twig' %}

{% block title %}{{ (transPrefix ~ '.list')|trans }}{% endblock %}
{% block main %}
<tigris-data-list route="{{ routePrefix }}_data" :init-filters='{"search":"", "type":"all"}' v-slot="{loadData, entities, filters, totalCount, begin, end, sort}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block header %}
        {% if 'create' in actions %}
        <button-action v-on:formsaved="loadData()" route="{{ routePrefix }}_new" type="success" :modal="true">{{ '.icon-plus'|parse_icons }}{{ (transPrefix ~ '.add.add')|trans }}</button-action>
        {% endif %}

        {% if 'sort' in actions %}
        <button-action v-on:formsaved="loadData()" route="{{ routePrefix }}_sort" :route-params="{}" type="info" :modal="true" :class="{disabled:entities.length < 2}" class="ms-auto ms-auto">
            {{ '.icon-sort'|parse_icons }}{{ (transPrefix ~ '.sort.sort')|trans }}
        </button-action>
        {% endif %}
    
    {% endblock %}
    {% block body %}
    <form action="" method="GET" class="d-flex justify-content-between align-items-center">
        <div>
            
        </div>

        <div class="form-group">
            <label><small>{{ 'results_per_page'|trans }}</small></label>
            <item-count-select></item-count-select>
        </div>
    </form>
    {% endblock %}
    {% block table %}
    <table class="table table-striped" :class="{loading: loading}">
        <thead>
            <tr>
            {% for key, value in values %}
                {% if value is iterable %}
                {% set label = value.label is defined ? value.label : key %}
                {% set value = key %}
                {% else %}
                {% set label = value %}
                {% endif %}
                <th><sort-item label="{{ (transPrefix ~ '.' ~ label|toPointCase)|trans }}" value="{{ value }}" v-on:change="sort"></sort-item></th>
            {% endfor %}
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="entity in entities" :key="entity.id">
            {% for key, value in values %}
            <td{% if value is iterable and value.format is defined and value.format == 'boolean' %} class="text-white" :class="{'bg-success': entity.{{ key }}, 'bg-warning': !entity.{{ key }} }"{% endif %}>
                {% if value is iterable %}
                    {% if value.format is defined %}
                        {% if value.format == 'datetime' %}
                        ${ $filters.formatDate(entity.{{ key }}) }
                        {% elseif value.format == 'date' %}
                        ${ $filters.formatDate(entity.{{ key }}, 'LL') }
                        {% elseif value.format == 'price' %}
                        ${ $filters.currency(entity.{{ key }}) }
                        {% elseif value.format == 'boolean' %}
                        <span v-if="entity.{{ key }}">{{ 'yes'|trans }}</span>
                        <span v-else>{{ 'no'|trans }}</span>
                        {% else %}
                        ${ entity.{{ key }} }
                        {% endif %}
                    {% elseif value.value is defined %}
                    ${ entity.{{ value.value }} }
                    {% else %}
                    ${ entity.{{ key }} }
                    {% endif %}
                {% else %}
                ${ entity.{{ value }} }
                {% endif %}
            </td>
            {% endfor %}
                <td>
                    <div class="btn-group btn-group-sm">
                    {% for action in actions %}
                    {% if action == 'delete' %}
                    <button-action v-on:formsaved="loadData()" route="{{ routePrefix }}_delete" :route-params="{id:entity.id}" type="danger" :modal="true">{{ '.icon-trash'|parse_icons }}</button-action>
                    {% elseif action == 'update' %}
                    <button-action v-on:formsaved="loadData()" route="{{ routePrefix }}_edit" :route-params="{id:entity.id}" type="primary" :modal="true">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
                    {% endif %}
                    {% endfor %}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    {% endblock %}
    {% block footer %}
    <div class="data-list-footer">
        <div>
            <em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em>
        </div>
        <pagination></pagination>
    </div>
    {% endblock %}
{% endembed %}
</tigris-data-list>
{% endblock %}