{% extends '@TigrisBase/admin/layout.html.twig' %}

{% block title %}{{ 'menu.configs'|trans|parse_icons }}{% endblock %}
{% block main %}
{% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
    {% block body %}
    <div class="row">
        <div class="col-lg-3 col-xl-2">
            <div class="nav flex-column nav-pills" id="configTabMenu" role="tablist">
            {% set i = 0 %}
            {% for name, item in form %}
                {% if name not in ['_token', 'actions'] %}
                    <a class="nav-link {% if i == 0 %}active{% endif %}" id="{{ name }}-tab" data-bs-toggle="pill" href="#{{ name }}" data-target="#{{ name }}" role="tab" aria-controls="{{ name }}" aria-selected="true">
                        {{ item.vars.label|trans|parse_icons }}
                        {% if not item.vars.valid %}
                        <span class="badge bg-danger float-right">{{ 'config.no_valid'|trans }}</span>
                        {% endif %}
                    </a>
                {% set i = i + 1 %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="col-lg-9 col-xl-10">
            <div class="tab-content" id="configTab">
            {% set i = 0 %}
            {% for name, item in form %}
            
                {% if name not in ['_token', 'actions'] %}
                <div class="tab-pane fade {% if i == 0 %}show active{% endif %}" id="{{ name }}" role="tabpanel" aria-labelledby="{{ name }}-tab">
                    
                    {{ form_row(item) }}
                </div>
                {% set i = i + 1 %}
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    
    {% endblock %}
{% endembed %}
{% endblock %}