<script>
module.exports = {
    delimiters: ['${', '}'],
    template: '<input type="text" class="datetimepicker form-control" />',
    props: {
        model: {
            required: true,
        },
    },

    mounted() {
        let vm = this;
        $(vm.$el).on('dp.show', function(we, contents, $editable) {
            $(vm.$el).val(vm.model);
        });

        $(vm.$el).on('dp.change', function(we, contents, $editable) {
            vm.$emit('change', $(vm.$el).val());
        });

        $(vm.$el).on('dp.update', function(we, contents, $editable) {
            vm.$emit('change', $(vm.$el).val());
        });
    },
}
</script>