<script>
import { debounce } from '../ts/utils'

export default {
    delimiters: ["${", "}"],
    data() {
        return {
            results: [],
            resultCount: 0,
            loading: false,
            search: "",
            showResult: false,
        };
    },

    props: {
        options: {
            type: Array,
            required: false,
            default: function () {
                return ["all"];
            },
        },

        placeholder: {
            type: String,
            required: false,
            default: '',
        }
    },

    methods: {
        onSearch: debounce(function () {
            this.loading = true;
            let url = Routing.generate("tigris_base_search_index", {
                _format: "json",
                options: this.options,
                search: this.search,
            });
            this.$http.get(url).then((response) => {
                this.results = response.data.entities;
                this.resultCount = response.data.totalCount;
                this.loading = false;
                this.showResult = true;
            });
        }, 500),

        itemClick() {
            setTimeout(() => {
                this.showResult = false;
            }, 400);
        },

        onFocus() {
            this.showResult = this.results.length > 0;
        },
    },
};
</script>

<template>
    <div id="search-bar">
        <div class="input-group">
            <span class="input-group-text"><i :class="'fa' + iconStyle + ' fa-magnifying-glass'"></i></span>
            <input type="text" class="form-control" aria-label="search" aria-describedby="search-bar"
                :placeholder="placeholder" v-on:input="onSearch" v-on:focus="onFocus" v-model="search" />
        </div>
        <div class="search-bar-result" v-if="showResult">
            <a class="search-bar-result-item" v-for="result in results" :key="result.id" :href="result.url"
                v-on:click="itemClick">
                <div class="image" v-if="result.image">
                    <img :src="'/' + result.image" :alt="result.title" />
                </div>
                <div class="content">
                    <div class="title">{{ result.title }}</div>
                    <div class="description">{{ result.content }}</div>
                </div>
            </a>
        </div>
    </div>
</template>