{% extends app.request.xmlHttpRequest ? '@TigrisBase/ajax-layout.html.twig': '@TigrisBase/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'file_folder.delete.delete'|trans }}{% endblock %}
        {% block body %}
            <p>{{ 'file_folder.delete.confirm'|trans({'%entity%': entity.name, '%file_count%': entity.files|length })|raw }}</p>
        {% endblock %}
    {% endembed %}
{% endblock %}