{% extends app.request.xmlHttpRequest ? '@TigrisBase/ajax-layout.html.twig': '@TigrisBase/layout.html.twig' %}
{% block main %}
    {% embed '@TigrisBase/decorators/_form.html.twig' with {'class': ''} %}
        {% block title %}{{ 'file_folder.edit.edit'|trans }}{% endblock %}
    {% endembed %}
{% endblock %}