
{% extends app.request.xmlHttpRequest 
    ? '@TigrisBase/admin/ajax-layout.html.twig' : 'base.html.twig' 
%}

{% block description %}
{{ configs.getConfig('TigrisBaseBundle.description') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('front') }}
{% endblock %}

{% block title %}{{ configs.getConfig('TigrisBaseBundle.title') }}{% endblock %}

{% block body %}
    {{ include('@TigrisBase/decorators/_flash_messages.html.twig') }}
    {% block breadcrumbs %}{{ wo_render_breadcrumbs() }}{% endblock %}
    {% if configs.getConfig('TigrisBaseBundle.enable_info_message', false) and configs.getConfig('TigrisBaseBundle.info_message', '') is not empty %}
    <div id="main-info-message">
        {{ configs.getConfig('TigrisBaseBundle.info_message', '')|raw }}
    </div>
    {% endif %}
    {% block main %}
    {% endblock %}
    
{% endblock %}
{% block javascripts %}
{{ include ('@TigrisBase/decorators/_cookie_bar.html.twig') }}
<script>
const iconStyle = '{{ iconStyle|slice(0,1) }}';
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
const user = '{{ app.user.username }}';
{% endif %}
</script>
{{ parent() }}
{{ encore_entry_script_tags('front') }}

{% endblock %}