{% extends '@TigrisBase/admin/layout.html.twig' %}
{% block title %}{{ 'user.group.list'|trans }}{% endblock %}
{% block main %}
<tigris-data-list route="tigris_base_admin_group_data" :init-filters="{search:'', type:'all'}" v-slot="{entities, filters, countPerPage, order, loading, loadData, sort, begin, end, totalCount, pageCount}">
{% embed '@TigrisBase/decorators/_card.html.twig' with {'class': ''} %}
    {% block header %}
        <button-action v-on:formsaved="loadData()" :modal="true" route="tigris_base_admin_group_new" :route-params="{}" type="success">
            <span class="btn-label">{{ '.icon-plus'|parse_icons }}</span> {{ 'user.group.add.add'|trans }}
        </button-action>
    {% endblock %}
    {% block body %}
    <div class="float-right">
        <div class="form-group">
            <label><small>{{ 'results_per_page'|trans }}</small></label>
            <item-count-select></item-count-select>
        </div>
    </div>
    {% endblock %}
    {% block table %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><sort-item label="{{ 'user.group.name'|trans }}" value="name" v-on:change="sort"></sort-item></th>
                    <th><sort-item label="{{ 'user.group.roles'|trans }}" value="roles" v-on:change="sort"></sort-item></th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entity in entities" :key="entity.id" :class="{'table-primary':entity.super_admin}">
                    <td>${ entity.name }</td>
                    <td>
                        <span class="badge bg-secondary m-1" v-for="role in entity.roles">${role}</span> 
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button-action v-on:formsaved="loadData()" route="tigris_base_admin_group_edit" :route-params="{id:entity.id}" :modal="true" type="secondary">{{ '.icon-pencil-alt'|parse_icons }}</button-action>
                            <button-action v-on:formsaved="loadData()" route="tigris_base_admin_group_remove" :route-params="{id:entity.id}" :modal="true" type="danger">{{ '.icon-trash'|parse_icons }}</button-action>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endblock %}
    {% block footer %}
    <div class="data-list-footer">
        <div><em>{{ 'data_count'|trans({'%begin%':'${begin}', '%end%':'${end}', '%total%':'${totalCount}'}) }}</em></div>
        <pagination></pagination>
    </div>
    {% endblock %}
{% endembed %}
</tigris-data-list>
{% endblock %}