<div class="dropdown">
    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ 'theme.button'|trans }}
    </a>

    <div class="dropdown-menu">
        <form class="px-3 py-2">
            <div class="custom-control custom-radio">
                <input type="radio" id="radio-theme-light" name="radio-theme" class="form-check-input" value="light" {% if app.request.cookies.get('theme', 'light') == 'light' %}checked{% endif %}>
                <label class="form-check-label" for="radio-theme-light">{{ 'theme.light'|trans }}</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="radio-theme-dark" name="radio-theme" class="form-check-input" value="dark" {% if app.request.cookies.get('theme', 'light') == 'dark' %}checked{% endif %}>
                <label class="form-check-label" for="radio-theme-dark">{{ 'theme.dark'|trans }}</label>
            </div>
        </form>
    </div>
</div>