{% macro viewContent(type, ids, name, category, value, currency) %}
<script>
window.addEventListener('load', ()=> {
if (typeof fbq === 'function') {
    fbq(
    'track', 'ViewContent', { 
        content_type: '{{ type }}',
        content_ids: [{{ ids|join(',') }}],
        content_name: '{{ name }}',
        content_category: '{{ category }}',
        value: {{ value }},
        currency: '{{ currency }}'
    }
    );
}
});

</script>
{% endmacro %}