{% macro recursiveArray(a) %}
    {% import _self as tigris %}
    <ul class="list-unstyled ms-4">
        {% for key, detail in a %}
        {% if detail is iterable %}
            <li>
                {% if key is not empty %}
                <b>{{ key }}</b>:
                {% endif %}
                {{ tigris.recursiveArray(detail) }}
            </li>
        {% else %}
            <li><b>{{ key }}</b>: {{ detail }}</li>
        {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro entityTree(entities, attr) %}
{% if attr is empty %}
    {% set attr = {} %}
{% endif %}
{% set attr = ({'ul_class' : '', 'label_class':''})|merge(attr) %}
    {% import _self as tigris %}
    <ul class="list-tree ms-4 {{ attr.ul_class }}">
        {% for key, entity in entities %}
        {% if entity.children is defined and entity.children is not empty %}
            <li>
                <span class="{{ attr.label_class }}">{{ entity.name }}</span>
                <input type="hidden" name="position[{{ entity.id }}]" value="{% if entity.left is defined %}{{ entity.left }}{% else %}{{ entity.position }}{% endif %}" />
                {{ tigris.entityTree(entity.children, attr) }}
            </li>
        {% else %}
            <li>
                <span class="{{ attr.label_class }}">{{ entity.name }}</span>
                <input type="hidden" name="position[{{ entity.id }}]" value="{% if entity.left is defined %}{{ entity.left }}{% else %}{{ entity.position }}{% endif %}" />
            </li>
        {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}