<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
    {% for url in entities %}
    <url>
        <loc>{{ url.loc }}</loc>
        <lastmod>{{ url.lastMod|date('Y-m-d') }}</lastmod>
        <priority>{{ url.priority }}</priority>
    </url>
    {% endfor %}
    {% for url in urls %}
    <url>
        <loc>{{ url.loc }}</loc>
        <lastmod>{{ url.lastmod|date('Y-m-d') }}</lastmod>
        <priority>{{ url.priority }}</priority>
    </url>
    {% endfor %}
</urlset>
