<div class="d-flex justify-content-start">
    <div class="userimage">
        {% if attribute(entity, 'getUserimage') is defined and entity.userimage is not empty %}
        <img src="{{ asset(entity.userimage.webPath('userimage')) }}" alt="{{ entity.username }} Userimage">
        {% else %} 
        <img src="{{ asset('img/noavatar.png') }}" alt="{{ entity.username }} empty Userimage">
        {% endif %}
    </div>
    <div class="userinfos">
        <dl>
            <dt>{{ 'user.username'|trans }}</dt>
            <dd>{{ entity.username }}</dd>
            <dt>{{ 'user.date.created'|trans }}</dt>
            <dd>{{ entity.createdAt|format_date }}</dd>
        </dl>
    </div>
</div>