{% extends '@TigrisBase/layout.html.twig' %}

{% block main %}
    <div id="my-account">
        <div class="row">
            <div class="col-lg-3 col-xl-2">
                <div id="my-account-menu">
                    {{ knp_menu_render('myaccount', {'style':'vertical-pills'}) }}
                </div>
            </div>

            <div class="col">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}