{% extends '@TigrisBase/layout.html.twig' %}

{% block main %}
    <div id="user-profile">
        <div class="row">
            <div class="col-lg-3">
                <div class="sticky-top">  
                    <div class="widgets mb-2">
                        <div class="card widget widget-user">
                            <div class="card-body">
                                <div class="img-userimage-lg mx-auto">
                                    {% if entity.userimage is defined and entity.userimage is not empty %}
                                        <img src="{{ asset(entity.userimage.webPath) }}" alt="{{ entity.username }}" class="img-fluid" />
                                    {% else %}
                                        <img src="{{ asset('img/noavatar.png') }}" alt="{{ entity.username }}" class="img-fluid" />
                                    {% endif %}
                                </div>
                                <div class="text-center user-profile-username">{{ entity.username }}</div>
                                {% if app.user is not empty and app.user.username == entity.username %}
                                <div class="text-center">
                                    <a href="{{ path('tigris_social_user_edit') }}" class="btn btn-secondary btn-sm">{{ 'social.profile.edit.menu'|trans|parse_icons }}</a>
                                </div>
                                {% endif %}
                                {#{% for item in identityCardItems %}
                                    {{ item|raw }}
                                {% endfor %}#}
                            </div>
                        </div>
                    </div>
                    {{ knp_menu_render('userprofile', {'style':'vertical-pills'}) }}
                </div>
            </div>

            <div class="col">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}