{% extends '@TigrisBase/user/my_account_layout.html.twig' %}

{% block content %}
    <h1>{{ 'user_account.email'|trans }}</h1>
    {% embed '@TigrisBase/decorators/_form.html.twig' %}
    {% endembed %}
{% endblock %}