{% extends '@TigrisBase/email/layout.html.twig' %}

{% block content %}
<table role="presentation" border="0" cellpadding="0" cellspacing="0"></table>
    <tr>
        <td>
            <p>{{ 'data.exporter.email.body'|trans|raw }}</p>
            <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                <tbody>
                    <tr>
                        <td align="left">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="{{ url('tigris_base_admin_dataexporter_download', {'id': entity.id}) }}">{{ 'data.exporter.email.button'|trans }}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
{% endblock %}