{% extends '@TigrisBase/email/layout.html.twig' %}

{% block content %}
<table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <p>
            {% if data.message is defined %}{{ data.message|trans(data.messageParams)|raw }}{% endif %}
            </p>
            {% if data.buttons is defined %}
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                    <tbody>
                        {% for button in data.buttons %}
                        <tr>
                            <td align="left">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a href="{{ url(button.route, button.routeParams) }}" target="_blank">{{ button.label|trans }}</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </td>
    </tr>
</table>
{% endblock %}